# Build e cache
bin/
obj/
out/
.vs/

# Configurações locais e senhas
.env
appsettings.Development.json
appsettings.Production.json
appsettings.Local.json

# Bancos locais
*.mdf
*.ldf

# IDEs e configs de usuário
*.user
*.suo
*.cache
.idea/
.vscode/
