version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: barbearia_api
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      POSTGRES_CONNECTION_DEV: "Host=db;Port=5432;Username=barber_dev;Password=687312Muse*;Database=barbearia_dev"
      Jwt__Key: "jwt@Barbearia#2025!ApiSeguroMuitoForte1234567890"
    ports:
      - "8080:8080"
    depends_on:
      - db
    restart: "no"

  db:
    image: postgres:16
    container_name: barbearia_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: POSTGRES_FORTE_AQUI
      POSTGRES_DB: barbearia_db
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
