version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: barbearia_api
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      POSTGRES_CONNECTION_DEV: "Host=db;Port=5432;Username=postgres;Password=12345;Database=dev_barber_db"
      Jwt__Key: "chave-super-secreta-dev"
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: barbearia_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: dev_barber_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
