services:
  postgres:
    image: postgres:16
    container_name: barbearia_postgres_local
    restart: unless-stopped
    env_file:
      - .env
    environment:
      TZ: America/Sao_Paulo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
